{
  "extends": "eslint-config-egg",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "linebreak-style": "off",
    "arrow-parens": "off",
    "valid-jsdoc": "off",
    "eol-last": "off",
    "array-bracket-spacing": "off",
    "no-unused-vars": "off",
    "no-else-return": "off",
    "semi": [2, "always"],
    "strict": "off",
    "no-irregular-whitespace": [
      "error",
      {
        "skipComments": true
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline"
      }
    ],
    "no-new-func": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "jquery": true,
    "es6": true
  },
  "globals": {
    "EASY_ENV_IS_PROD": true,
    "EASY_ENV_IS_NODE": true,
    "EASY_ENV_IS_BROWSER": true,
    "localRequire": true,
    "Raven": true,
    "Monitor": true
  },
  "plugins": [
    "vue",
    "html"
  ],
  "parser": "babel-eslint"
}
